/* General CSS Styles */

:root {
    --primary-color: #f4c928;
    --secondary-color: #000;
    --accent-color: #de232e;
    --animate-delay: 5s;
}

html {
    height: 100%;
    /* transition: 0.5s ease; */

}

body {
    font-family: "Cairo", sans-serif;
    padding: 0;
    margin: 0;
}


/* ----------------------------------------------------- */
/* Sidebar */
.sidebar {
    background: rgb(244,201,40);
    background: linear-gradient(180deg, rgba(244,201,40,1) 25%, rgba(0,0,0,1) 100%);
    width: 16rem;
    transition: 0.5s ease;
}

#hi {
    transition: 0.5s ease;

}

.sidebar a {
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
}
.sidebar a:hover {
    color: #fff;
    background-color: #71663c;
}

.nav-link:focus, .nav-link:hover {
    color: #fff;
}

.active {
    border-right: 7px solid var(--accent-color);
}
/* ----------------------------------------------------- */
/* Nav Header */
#nav-header button:hover, button:active ,button {
    border-color: #fff !important;
}